<div class="panel panel-default">
    <div class="panel-heading"><h4>About Me</h4></div>
    <div class="panel-body">
        <div class="justify line-height">
            Hi All !!!
            </br>
            </br>
            &nbsp; &nbsp; &nbsp;I am Aravindh.S. I am Indian living in Singara Chennai. I am an automobile engineer by education,
            a software developer by profession, a maths teacher by passion and a pancreatitis patient by fate. I work as a
            Senior Consultant - Developer in an awesome company called <b>Thought</b>Works. I also teach mathematics to 10th grade students
            in a private educational institution near my house.
            </br>
            </br>
            &nbsp; &nbsp; &nbsp;My primary expertise revolves around .NET technologies viz C#, ASP.NET MVC, WPF, SQL Server 2008. My interests
            revolve around programming languages and their inner workings. I am constantly on the look out for new programming constructs
            and their inner workings. Off late I am reading two languages viz. Scala and Clojure. While scala is a hybrid functional object
            oriented language, clojure is a functional lisp dialect.
            </br>
            </br>
            &nbsp; &nbsp;&nbsp; I like playing badminton and like watching cricket. I am also a huge fan of the manga series Dragon Ball Z. My
            ultimate achievement would be when I am able to do some help to the human community and since I am a software developer, I would
            like that to happen via some software product. Not just any product, but something that helps the community. Anyone can get product ideas,
            anyone can implement them, but implementing an idea that helps the human community will always have a special place in my mind and thats the
            one I shall strive towards.
        </div>
    </div>
</div>