<div class="jumbotron">
    <h1>Profound Scala</h1>
    <p>A comprehensive guide to learn scala programming language</p>
</div>
<div class="col-md-12">
    <div class="col-md-3">
        <div class="ast-group">
            <a href="#" class="list-group-item">Introduction</a>
            <a class="list-group-item">Vals and Vars</a>
            <a class="list-group-item">Control Structures</a>
            <a class="list-group-item">Operators & Precedence</a>
            <a class="list-group-item">For comprehensions</a>
            <a class="list-group-item">Method Definitions</a>
        </div>
    </div>
</div>