
<html class="backend">
<!-- START Head -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TypeCast</title>
    <meta name="author" content="Aravindh">
    <meta name="description" content="From programming to gadgets...">
    <meta name="keywords" content="programming scala functional coding gadgets">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="../image/favicon.ico">

    <link rel="stylesheet" href="../library/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheet/layout.min.css">
    <link rel="stylesheet" href="../stylesheet/uielement.min.css">
    <!--/ Application stylesheet -->
    <!-- END STYLESHEETS -->

    <!-- START JAVASCRIPT SECTION - Load only modernizr script here -->
    <script src="../library/modernizr/js/modernizr.min.js"></script>
    <!--/ END JAVASCRIPT SECTION -->
</head>
<!--/ END Head -->

<!-- START Body -->
<body>
<!-- START Template Main -->
<section id="main" role="main">
    <!-- START Template Container -->
    <section class="container animation delay animating fadeInDown">
        <!-- START row -->
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="panel panel-minimal" style="margin-top:10%;">
                    <!-- Upper Text -->
                    <div class="panel-body text-center">
                        <i class="ico-file-remove2 longshadow fsize112 text-default"></i>
                    </div>
                    <div class="panel-body text-center">
                        <h1 class="semibold longshadow text-center text-default fsize32 mb10 mt0">WHOOPS!!</h1>
                        <h4 class="semibold text-primary text-center nm">The page you're looking for does not exits...</h4>
                    </div>
                    <!--/ Upper Text -->

                    <!-- Button -->
                    <div class="panel-body text-center">
                        <a href="/" class="btn btn-default mb5">Back To Dashboard</a>
                    </div>
                    <!--/ Button -->
                </div>
            </div>
        </div>
        <!--/ END row -->
    </section>
    <!--/ END Template Container -->
</section>
<!--/ END Template Main -->

<!-- START JAVASCRIPT SECTION (Load javascripts at bottom to reduce load time) -->
<!-- Library script : mandatory -->
<script type="text/javascript" src="../library/jquery/js/jquery.min.js"></script>
<script type="text/javascript" src="../library/jquery/js/jquery-migrate.min.js"></script>
<script type="text/javascript" src="../library/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../library/core/js/core.min.js"></script>
<!--/ Library script -->

<!-- App and page level script -->
<script type="text/javascript" src="../plugins/sparkline/js/jquery.sparkline.min.js"></script><!-- will be use globaly as a summary on sidebar menu -->
<script type="text/javascript" src="../javascript/app.min.js"></script>


<!--/ App and page level script -->
<!--/ END JAVASCRIPT SECTION -->
</body>
<!--/ END Body -->
</html>